<?xml version="1.0" enconding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RevereseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:[PORT_NUMBER (Ex: 49009)]/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
